{:deps {com.nextjournal/beholder         {:mvn/version "1.0.0"}
        io.methvin/directory-watcher     {:mvn/version "0.17.0"}
        io.github.seancorfield/build-clj {:git/tag "v0.8.3" :git/sha "7ac1f8d"}}}